//$primary: orange;

@import "bootstrap/scss/bootstrap-reboot.scss";
@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/bootstrap-utilities.scss";
// @import 'bootstrap/scss/bootstrap.scss';

:root {
  --main-fz: 16px;
  --main-lh: 30px;
  --main-ff: "Open Sans", sans-serif;
  --main-fc: #222222;
  --active-color: #0656b4;
  --swiper-theme-color: #12a6df;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --main-color: "inherit";
  --second-color: "inherit";
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  scrollbar-color: rgba(34, 34, 34, 0.1) rgba(189, 189, 189, 0.1);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(189, 189, 189, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(34, 34, 34, 0.1);
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--main-fc);
  font-family: var(--main-ff);
  font-size: var(--main-fz);
  font-style: normal;
  font-weight: 400;
  line-height: var(--main-lh);
  min-height: 100vh;
  min-width: 320px;
}

.row {
  --bs-gutter-x: 2rem;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  // overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.block-img-cover {
  img {
    border-radius: inherit;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.sec-title {
  @media screen and (max-width: 640px) {
  }
}

svg {
  fill: transparent;
  stroke: currentColor;
  transition: fill 0.3s, stroke 0.3s;
}

a {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

button {
  cursor: pointer;
}

[type="search"] {
  -webkit-appearance: textfield;
}

// animation: delay-overflow 0.3s linear 0.3s 1 forwards;
@keyframes delay-overflow {
  from {
    overflow: auto;
  }
  to {
    overflow: auto;
  }
}

@keyframes first-load {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
